{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<div class="newsBox">
<div class="newsBar"><div class="newsBarPadBox">Placeholder<div class="commentDate">July 17th, 2021</div></div></div>
<div class="newsPost">
<a class="newsPreview" title="Placeholder">
   <img src="/img/placeholder.png" alt="Placeholder">
</a>
<div class="newsTextBox">
	This is an example of a post.<br>
	<br>
	Writing blog posts should be <b>implemented</b> in the near future. We have a GitHub for this website, it can be found <a href="https://github.com/chazizsquarebracket/gamerappa-site">here</a><br>
	<br>
<div></div></div>
</div>
<div align="right">
	<a href="archive.php">Archive</a>
</div>
</div>

{% if test %}
<p>{{ test }}</p>
{% endif %}
	{% endblock %}
