{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<h1 id="banner">Gamerappa's website</h1>
<table valign="top" width="100%" height="100%" cellspacing="0" border="0">
	<tbody><tr><td class="crapCell" width="100" height="1"></td><td class="crapCell" width="254"></td><td class="crapCell"></td></tr>
	<tr>
		<td id="menuSection" width="100" valign="top">
			<div id="MLwrapper"><a href="index.php">Home</a></div>
			<br>
			<center>

			<br>
			<div style="border:0px;border-color:#000000;border-style: solid;text-align:center;">
				<a href="https://squarebracket.veselcraft.ru"><img style="border:0px;margin-left:-3px" src="/img/sb.png"></a>
			</div>


			</center>
			
			
		</td>
		<td colspan="2" id="contentSection" valign="top">
			<br>
<div class="datebar">July 17th, 2021 - Placeholder</div>
<div class="news">
	This is a temporary placeholder for a post.<br>
	<br>
	This should be <b>implemented</b> in the near future. We have a GitHub for this website, it can be found <a href="https://github.com/chazizsquarebracket/gamerappa-site">here</a><br>
	If you registered within the past 3 months, you will have to re-register.  Sorry.  <br>
	<br>
</div>

<div style="padding-right:15px;" align="right">
	<a href="archive.php">Archive</a>
</div>
<!--
<div class=datebar style="margin-left:2%; margin-right:2%; background-color:#155DEC">This is Blockland</div>
<div class=news style="margin-left:2%; margin-right:2%;">This is the official website for Blockland.  Blockland is a non-competitive multiplayer game where you build with interconnecting bricks.</div>
<br>//-->

		</td>
	</tr>
</tbody></table>

{% if test %}
<p>{{ test }}</p>
{% endif %}
	{% endblock %}
