{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<div class="datebar">July 17th, 2021 - Placeholder</div>
<div class="news">
	This is an example of a post.<br>
	<br>
	Writing blog posts should be <b>implemented</b> in the near future. We have a GitHub for this website, it can be found <a href="https://github.com/chazizsquarebracket/gamerappa-site">here</a><br>
	<br>
</div>

<div style="padding-right:15px;" align="right">
	<a href="archive.php">Archive</a>
</div>

{% if test %}
<p>{{ test }}</p>
{% endif %}
	{% endblock %}
